.h5p-question {
  color: #000;
}

.h5p-question-image {
  text-align: left;
  margin: 1.5em;
}
.h5p-question-image img {
  display: block;
  max-width: 100%;
  max-height: 10em;
  border: 0;
  outline: none;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  transition: max-height 0.3s;
}
.h5p-question-image-wrap {
  display: inline-block;
  position: relative;
}

.h5p-question-image-scalable {
  cursor: pointer;
}

.h5p-question-image-scalable:before {
  position: absolute;
  font-family: 'H5PFontAwesome4';
  content: "\f067";
  right: 7px;
  top: 7px;
  color: #fff;
  font-size: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 18px;
  height: 18px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}

.h5p-question-image-large .h5p-question-image-scalable:before {
  content: "\f068";
}

.h5p-question-introduction {
  margin: 1.5em;
  font-size: 1.125em;
  line-height: 1.25em;
}

.h5p-question-content {
  margin: 1.5em;
}
.h5p-question-feedback {
  font-weight: bold;
  color: #1a73d9;
  margin: 0 1.5em;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s cubic-bezier(0,1,0,1);
}
.h5p-question-feedback.h5p-question-visible {
  margin: 1.5em;
  opacity: 1;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s ease-in;
}
.h5p-joubelui-score-bar {
  display: inline-block;
  margin-right: .5em;
}
.h5p-question-feedback-content {
  display: inline-block;
  position: relative;
  top: -1em;
  margin-top: .8em;
}

.h5p-question-buttons {
  overflow: hidden;
  margin: 0 1.5em;
  max-height: 0;
  opacity: 0;
  transition: none;
}
.h5p-question-buttons.h5p-question-visible {
  max-height: none;
  margin: 1.5em 1.5em 0;
  opacity: 1;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s ease-in;
}

/* Styling of JoubelUI button, should be moved to JoubelUI */
.h5p-question .h5p-joubelui-button {
  margin: 0 0.5em 1.5em;
  padding: 0.5em 1.25em;
  border-radius: 2em;
  background: #1a73d9;
  color: #ffffff;
  border: none;
  box-shadow: none;
  outline: none;
}
.h5p-question .h5p-joubelui-button:first-child {
  margin: 0 0.5em 1.5em 0;
}

.h5p-question .h5p-joubelui-button:last-child {
  margin: 0 0 1.5em 0.5em;
}

.h5p-question .h5p-joubelui-button:first-child:last-child {
  margin: 0 0 1.5em;
}

/* Truncated buttons */
.h5p-question .h5p-joubelui-button.truncated {
  width: 2.235em;
  height: 2.235em;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.h5p-question .h5p-joubelui-button.truncated:before {
  padding: 0;
}

.h5p-question .h5p-joubelui-button:hover,
.h5p-question .h5p-joubelui-button:focus {
  background: #1356a3;
}
.h5p-question .h5p-joubelui-button:active {
  position: relative;
  background: #104888;

  -webkit-box-shadow: inset 0 4px 0 #0e407a;
  -moz-box-shadow: inset 0 4px 0 #0e407a;
  box-shadow: inset 0 4px 0 #0e407a;
}
.h5p-question .h5p-joubelui-button:active .h5p-joubelui-button-text {
  position: relative;
  top: 2px;
}

.h5p-question .h5p-joubelui-button:before {
  font-family: 'H5PFontAwesome4';
  padding-right: 0.5em;
}
.h5p-question .h5p-question-try-again:before {
  content: "\F01E";
}
.h5p-question .h5p-question-show-solution:before {
  content: "\F06E";
}
.h5p-question .h5p-question-check-answer:before {
  content: "\F058";
}

/* Remove side margin for h5p-no-frame */
.h5p-no-frame > .h5p-question > .h5p-question-introduction,
.h5p-no-frame > .h5p-question > .h5p-question-buttons,
.h5p-no-frame > .h5p-question > .h5p-question-image,
.h5p-no-frame > .h5p-question > .h5p-question-content,
.h5p-no-frame > .h5p-question > .h5p-question-feedback {
  margin-left: 0;
  margin-right: 0;
}

/* Remove side margins for transparent cp elements */
.h5p-course-presentation .h5p-question.h5p-transparent > .h5p-question-introduction,
.h5p-course-presentation .h5p-question.h5p-transparent > .h5p-question-buttons,
.h5p-course-presentation .h5p-question.h5p-transparent > .h5p-question-image,
.h5p-course-presentation .h5p-question.h5p-transparent > .h5p-question-content,
.h5p-course-presentation .h5p-question.h5p-transparent > .h5p-question-feedback {
  margin-left: 0;
}
